table {
    width: 100%;
    border-collapse: collapse; 
    margin: 20px 0;
    font-size: 16px;
    text-align: left;
  }
  
  thead {
    background-color: black; 
    color: white;
  }
  
  th, td {
    padding: 10px;
    border: 1px solid #ddd; 
  }

  h1 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #333; 
  }
  
